<h1>{{title}}</h1>
<p>Bruce was a chemical engineer for the Apotex pharmaceutical company. He spent his off hours at his favourite barstool enjoying the Leafs and Jays, and people watching in Brantford's main square. He passed away last year at the age of 58.</p>