<h1>{{title}}</h1>
<p>Chris is a 26 year old college student and line cook. He is looking to change career paths as there is little money in the restaurant industry unless you own your own restaurant.</p>